html,
body {
  margin: 0;
  background: linear-gradient(to right, rgb(113, 179, 233), rgb(205, 229, 245));
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.app {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  transition: all 0.1s ease;
}
.meteo-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

// style for mobile ---------------------------------------
body .portrait {
  .meteo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .meteo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.meteo-box {
    .meteo-content {
      .meteo-main {
        width: 80%;
        margin-bottom: 1em;
        .meteo-current {
          img {
            width: 5em;
          }
        }
        .meteo-additional {
          img {
            width: 2em;
          }
        }
      }
      .meteo-forecast {
        width: 80%;
        .meteo-daily {
          img {
            width: 2em;
          }
        }
        .meteo-weekly-forcast {
          padding: 0em;
          margin-top: 1.6em;
          .meteo-weekly-item {
            img {
              width: 2em;
              margin-top: 0.7em;
              margin-bottom: 0.3em;
            }
          }
        }
      }
    }
  }

  &.meteo-style {
    padding: 1em;
    .meteo-content {
      .meteo-main {
        padding: 1.5em;
        .meteo-current {
          display: flex;
          justify-content: space-around;
        }

        .meteo-additional {
          .meteo-wind {
            justify-content: space-around;
            display: flex;
          }
        }
      }
    }
  }
}
// ---------------------------------------------------------
.meteo-layout {
  display: flex;
  flex-direction: column;
  .meteo-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    span {
      font-size: 1.5em;
    }
    p {
      font-size: 0.8em;
      opacity: 0.7;
    }
  }
  .meteo-content {
    display: flex;
    justify-content: space-between;
    .meteo-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .meteo-current {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 2em;
        }
        .meteo-info {
          display: flex;
          flex-direction: column;
          .meteo-description{
            font-size: 1em;
            align-self: self-start;
            margin-left:0.3em;
            opacity: 0.7;
          }
        }
      }
      .meteo-additional {
        display: flex;
        justify-content: center;
        .meteo-wind {
          justify-content: center;
          display: flex;
          span{
            font-size: 0.9em;
            opacity: 0.7;
            img {
              opacity: 1;
            }
          }
          .meteo-wind-speed {
            display: flex;
            align-items: center;
          }
          .meteo-humidity {
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .meteo-forecast {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .meteo-daily {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .meteo-daily-item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          span {
            font-size: 0.7em;
            opacity: 0.7;
          }
          img{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
          }
          p{
            font-size: 1em;
          }
        }
      }
      .meteo-weekly-forcast {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .meteo-weekly-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            font-size: 0.7em;
          }
          p{
            font-size: 0.7em;
            opacity: 0.7;
          }
          .weekly-item-celsus {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .current-hour {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

.meteo-box {
  .meteo-header {}
  .meteo-content {
    .meteo-main {
      width: 40%;
      background-color: white;
      .meteo-current {
        img {
          width: 8em;
        }
      }
      .meteo-additional {
        img {
          width: 3em;
        }
        .meteo-wind {
          width: 100%;
        }
        .meteo-humidity {}
      }
    }
    .meteo-forecast {
      width: 56%;
      .meteo-daily {
        width: 100%;
        height: 55%;
        .meteo-daily-item {
          width: 20%;
          height: 100%;
          background-color: white;
        }
        img {
          width: 4em;
        }
      }
      .meteo-weekly-forcast {
        width: 100%;
        height: 50%;
        padding: 0.5em;

        .meteo-weekly-item {
          height: 80%;
          justify-content: space-between;
          img {
            width: 2.5em;
          }
        }
      }
    }
  }
  .current-hour {}
}

.meteo-style {
  padding: 2em;
  .meteo-header {
    padding: 1em;
  }
  .meteo-content {
    .meteo-main {
      padding: 3em;
      border-radius: 0.5em;
      background-color: white;
      .meteo-current {
        .meteo-icon {
          margin-right: 2em;
        }
      }
      .meteo-additional {
        margin-top: 1em;
        margin-bottom: 1em;

        .meteo-wind {
          img {
            margin-right: 1em;
          }
          .meteo-wind-speed {
            margin-right: 2em;
          }
          .meteo-humidity {}
        }
      }
    }
    .meteo-forecast {
      .meteo-daily {
        .meteo-daily-item {
          padding: 1em;
          border-radius: 0.5em;
        }
      }
      .meteo-weekly-forcast {
        .meteo-weekly-item {}
      }
    }
  }
  .current-hour {
    padding: 1em;
    span {
      font-size: 1.5em;
    }
  }
}
