html,
body {
  margin: 0;
  background: linear-gradient(to right, rgb(113, 179, 233), rgb(205, 229, 245));
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.app {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  transition: all 0.1s ease;
}

.meteo-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

body .portrait .meteo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body .portrait .meteo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .portrait.meteo-box .meteo-content .meteo-main {
  width: 80%;
  margin-bottom: 1em;
}
body .portrait.meteo-box .meteo-content .meteo-main .meteo-current img {
  width: 5em;
}
body .portrait.meteo-box .meteo-content .meteo-main .meteo-additional img {
  width: 2em;
}
body .portrait.meteo-box .meteo-content .meteo-forecast {
  width: 80%;
}
body .portrait.meteo-box .meteo-content .meteo-forecast .meteo-daily img {
  width: 2em;
}
body .portrait.meteo-box .meteo-content .meteo-forecast .meteo-weekly-forcast {
  padding: 0em;
  margin-top: 1.6em;
}
body .portrait.meteo-box .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item img {
  width: 2em;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
body .portrait.meteo-style {
  padding: 1em;
}
body .portrait.meteo-style .meteo-content .meteo-main {
  padding: 1.5em;
}
body .portrait.meteo-style .meteo-content .meteo-main .meteo-current {
  display: flex;
  justify-content: space-around;
}
body .portrait.meteo-style .meteo-content .meteo-main .meteo-additional .meteo-wind {
  justify-content: space-around;
  display: flex;
}

.meteo-layout {
  display: flex;
  flex-direction: column;
}
.meteo-layout .meteo-header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.meteo-layout .meteo-header span {
  font-size: 1.5em;
}
.meteo-layout .meteo-header p {
  font-size: 0.8em;
  opacity: 0.7;
}
.meteo-layout .meteo-content {
  display: flex;
  justify-content: space-between;
}
.meteo-layout .meteo-content .meteo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.meteo-layout .meteo-content .meteo-main .meteo-current {
  display: flex;
  justify-content: center;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-main .meteo-current span {
  font-size: 2em;
}
.meteo-layout .meteo-content .meteo-main .meteo-current .meteo-info {
  display: flex;
  flex-direction: column;
}
.meteo-layout .meteo-content .meteo-main .meteo-current .meteo-info .meteo-description {
  font-size: 1em;
  align-self: self-start;
  margin-left: 0.3em;
  opacity: 0.7;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional {
  display: flex;
  justify-content: center;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional .meteo-wind {
  justify-content: center;
  display: flex;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional .meteo-wind span {
  font-size: 0.9em;
  opacity: 0.7;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional .meteo-wind span img {
  opacity: 1;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional .meteo-wind .meteo-wind-speed {
  display: flex;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-main .meteo-additional .meteo-wind .meteo-humidity {
  display: flex;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-daily {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item span {
  font-size: 0.7em;
  opacity: 0.7;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item p {
  font-size: 1em;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-weekly-forcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item span {
  font-size: 0.7em;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item p {
  font-size: 0.7em;
  opacity: 0.7;
}
.meteo-layout .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item .weekly-item-celsus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meteo-layout .current-hour {
  display: flex;
  justify-content: end;
  align-items: center;
}

.meteo-box .meteo-content .meteo-main {
  width: 40%;
  background-color: white;
}
.meteo-box .meteo-content .meteo-main .meteo-current img {
  width: 8em;
}
.meteo-box .meteo-content .meteo-main .meteo-additional img {
  width: 3em;
}
.meteo-box .meteo-content .meteo-main .meteo-additional .meteo-wind {
  width: 100%;
}
.meteo-box .meteo-content .meteo-forecast {
  width: 56%;
}
.meteo-box .meteo-content .meteo-forecast .meteo-daily {
  width: 100%;
  height: 55%;
}
.meteo-box .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item {
  width: 20%;
  height: 100%;
  background-color: white;
}
.meteo-box .meteo-content .meteo-forecast .meteo-daily img {
  width: 4em;
}
.meteo-box .meteo-content .meteo-forecast .meteo-weekly-forcast {
  width: 100%;
  height: 50%;
  padding: 0.5em;
}
.meteo-box .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item {
  height: 80%;
  justify-content: space-between;
}
.meteo-box .meteo-content .meteo-forecast .meteo-weekly-forcast .meteo-weekly-item img {
  width: 2.5em;
}
.meteo-style {
  padding: 2em;
}
.meteo-style .meteo-header {
  padding: 1em;
}
.meteo-style .meteo-content .meteo-main {
  padding: 3em;
  border-radius: 0.5em;
  background-color: white;
}
.meteo-style .meteo-content .meteo-main .meteo-current .meteo-icon {
  margin-right: 2em;
}
.meteo-style .meteo-content .meteo-main .meteo-additional {
  margin-top: 1em;
  margin-bottom: 1em;
}
.meteo-style .meteo-content .meteo-main .meteo-additional .meteo-wind img {
  margin-right: 1em;
}
.meteo-style .meteo-content .meteo-main .meteo-additional .meteo-wind .meteo-wind-speed {
  margin-right: 2em;
}
.meteo-style .meteo-content .meteo-forecast .meteo-daily .meteo-daily-item {
  padding: 1em;
  border-radius: 0.5em;
}
.meteo-style .current-hour {
  padding: 1em;
}
.meteo-style .current-hour span {
  font-size: 1.5em;
}

/*# sourceMappingURL=app.css.map */
